h1{
    
    position: absolute;
    width: 552px;
    height: 228px;
    left: 818px;
    top: 216px;
    line-height: 76.25px;
    color: #FFFFFF;
    font-size: 65px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    line-height: 76px;
    text-align: right;

}

    body{
        background-image: url(../images/banner/banner3.png);
        width: 1600px;
        height: 808px;
        background-repeat: no-repeat;
        
    }

p{
    position: absolute;
    width: 494px;
    height: 78px;
    left: 876px;
    top: 468px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    text-align: right;
}
button{
    position: absolute;
    width: 160px;
    height: 64px;
    top: 578px;
    left: 1210px;
    
}


.banner{
    position: absolute;
    width: 451px;
    height: 898px;
    left: 283px;
    top: 959px;


}

h2{
    position: absolute;
    width: 279.69px;
    height: 94px;
    left: 880px;
    top: 1189px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    color: #151414;
}

.Contrary{
    position: absolute;
    width: 404px;
    height: 104px;
    left: 880px;
    top: 1307px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    vertical-align: top;
    color:  #444343;


}
p{
    text-indent: 24px;
}


.simply{

    position: absolute;
    width: 365.93px;
    height: 162px;
    left: 879px;
    top: 1435px;
    font-size: 16px;
    color: #444343;

}